.wrapperCalculation{
    margin: 0 auto;
    width: auto;
    height: 200px;
}
.wrapperCalculation .calculate{
    width: 60%;
    height: inherit;
    background: pink;
    float: left;
}
.wrapperCalculation .buttonCalculation{
    width: 40%;
    height: inherit;
    background: yellow;
    float: left;
}
.buttonCalculation button{
    text-align: center;
    width: 400px;
}
.result{
    width: 100%;
    text-align: center;
}
.result input{
    text-align: center;
}