.wrapperCalculation{
    margin: 0 auto;
    width: auto;
    height: 400px;
    position: relative;
}
.wrapperCalculation .calculate{
    width: 60%;
    height: inherit;
    background: pink;
    float: left;
}
.wrapperCalculation .buttonCalculation{
    width: 40%;
    height: inherit;
    background: yellow;
    float: left;
}
.result{
    width: 100%;
    text-align: center;
}
.result input{
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 32px;
    text-align: center;
    min-width: 600px;
    min-height: 50px;
    font-size: 30px;
}