html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    min-width: 940px;
    height: 100%;
    margin: 0;
    background-image: url("bilder/hamburg1920-1271.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-family: Verdana, sans-serif;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 32px;
}
.container{
    height: 200px;
    position: relative;
    text-align: center;
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
}
.animate-bottom{
    position:relative;
    animation:animatebottom 0.4s;
    color: white;
    background-color: black;
}
@keyframes animatebottom{
    from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
}